:root{
--Rose:#FA6980;
--background:#F6F8F9;
--Fontcolor:#202124;
--Footer:#A6ADB4;
}


html {
    box-sizing: border-box;
    font-size: 62.5%; 
}

*, *:before, *:after {
    box-sizing: inherit;
}

/** Globales **/
body {
    background-color: var(--background);
    font-size: 1.6rem;
    line-height: 1.5;
}
p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--Fontcolor);
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}


.header {
    display: flex;
    justify-content: center;
}
.header__logo {
    margin: 3rem 0;
}
.LogoContainer{
    background-color: #FA6980;
}

.Nav-Bar{
    background-color: var(--background);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem; 
}

.Firstsection{
    display: flex;
    justify-content: space-between;
}

.SecondImg{
    width: 30rem;
    padding: 6rem;
    margin-right: 11rem;
    margin-top: 11rem;
}

.Img-Container{
    width: auto;
    height: auto;
}

.Section2{
    display: flex;
    justify-content: space-evenly;
    gap:1rem;
}

.img-section2{

    
    
    background-color: white;
    
}

.img-mini{

width: 40rem;
height: 20rem;
margin-left: 5rem;
border-radius:  1.9rem;
}
.Section2 a{
font-weight: bold;
text-transform: uppercase;
color: black;
}

.grid-section{

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,2fr);
    gap: 3rem;
}

.fish3{
    grid-column: 2;
    grid-row: 2/2;
}

.main-section2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:2rem;

}

.graph-container{
    width: 50rem;
    height: 64rem;
    margin-left: 15rem;

}